*, *:before, *:after {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    background-color: mistyrose;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#game-row1 {
    display: flex;
}


#deck {
    border-radius: 10px;
    margin: 1.6vmin 0;
}

#deck img {
    /* width: 15vmin;
    margin: .5vmin; */
    border: .1vmin solid lightcyan;
    width: 13vmin;
    height: 18vmin;
    background-color: floralwhite;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(.1vmin .2vmin .2vmin grey);
    cursor: pointer;
}


#deck img:hover {
    filter: drop-shadow(.1vmin .3vmin .8vmin blueviolet  )
} 




#dealer {
    display: flex;
    flex-direction: row;
}

#deal-space {
    height: 18.2vmin;
    width: 22.5vmin;
    margin: 2vmin 2vmin 2vmin .5vmin;
    display: flex;
    flex-direction: row;
    position: relative;
}

.cardD {
    border: .1vmin solid lightcyan;
    width: 13vmin;
    height: 18vmin;
    background-color: floralwhite;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 .5vmin;
    filter: drop-shadow(.1vmin .2vmin .2vmin grey);
    cursor: pointer;
}


#cardD2 {
    position: absolute;
    left: 4vmin;
}

#cardD3 {
    position: absolute;
    left: 8vmin;
}

#foundation {
    display: flex;
    flex-direction: row;
}

.cardF {
    border: .1vmin solid lightcyan;
    width: 13vmin;
    height: 18vmin;
    background-color: floralwhite;
    background-size: contain;
    background-repeat: no-repeat;
    margin: .5vmin;
}

#foundation div img{
    width: 13vmin;
    padding: 3.2vmin 0;
    margin: 2vmin 1vmin;
}

#game-row2 {
    display: flex;
    padding-top: 35px;
}

#game-row2 div {
    position: relative;
}

.col {
    margin: .5vmin;
}

.card {
    border: .1vmin solid lightcyan;
    width: 13vmin;
    height: 18vmin;
    background-color: floralwhite;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(.1vmin .2vmin .2vmin grey);
    cursor: pointer;
}

.card:hover {
    filter: drop-shadow(.1vmin .3vmin .8vmin blueviolet  )
}

#card3, #card5, #card8, #card12, #card17, #card23 {
    position: absolute;
    top: -15vmin;
}

#card6, #card9, #card13, #card18, #card24 {
    position: absolute;
    top: -30vmin;
}

#card10, #card14, #card19, #card25 {
    position: absolute;
    top: -45vmin;
}

#card15, #card20, #card26 {
    position: absolute;
    top: -60vmin; 
}

#card21, #card27 {
    position: absolute;
    top: -75vmin;
}

#card28 {
    position: absolute;
    top: -90vmin;
}


.selected {
    border: 2px solid darkred;
    filter: drop-shadow(.1vmin .4vmin .6vmin purple)
}





@media only screen and (max-width: 700px) {
    body{
        margin: 0;
    }

    #game-row1 {
        flex-direction: column;
    }

    #dealer {
        flex-direction: row;
    }

    #game-row2 {
        padding-top: 10px;
    }
}